In [1]:
from google.oauth2 import service_account
from google.cloud import bigquery
import pandas as pd
from bokeh.plotting import figure, show, output_notebook, reset_output
from math import pi
from pandas.tseries.offsets import BDay
import json
import pandas_gbq
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import requests
import matplotlib.dates as mdates
import os

In [2]:
personal_cred = json.loads('{"type":"service_account","project_id":"tr-data-workbench","private_key_id":"1c715a521ff59da097178dd1ab3433ec419b84af","private_key":"-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC2+XxOal6ShiEH\\ngEXk7fDvJikzPQBBGF78ULXZ6dF2exLAcVsjJfRLASx21QVS7U20up4y2tWZ1bE8\\n8lloLkJstxJsTLIAx/9+Xwj6ur6kTsUxPYD5FwQGtsE7V7W1JgsiNvRBwFc2azHU\\n+sgkF31oA44kcwBbi7ltpP11dORQOJ+ldQpFq7KnUtL/POTbTfKlBlcrrX3Rkm7c\\n/9pFcR5FEQ8ApYagsdFgYHGSay8YLkOZjHNgIpW4ybAXI5OnbIxO3T1PeZDbjpEB\\nvoFieRZ2/IuiGjVNhE2WkTgz5QMwBapoYwtRDTpUlAb5eRfSRpRvKTgFAnQpLbAm\\nPi38IbFRAgMBAAECggEAIw3V8kHvn1uh/UlmWo75Px/M+duAbngoTmd6B2cDsZKv\\ni33MC4ZMcIgniBaUgAglgG/WOgDxthiZ7YayeUKPiDtkhKoG2h52xLOZSUu4lUrf\\n/Wh+inoN0+l0SJWroqpIrMPhdK1QKAVOVTK8YCm95Uz1EOeVVHSG0EoxIq0DxphX\\ngGDcDTS372SFoI8CQxFw7CTOQCe7zwgcgJlQekmwhZm8yyCVEYzo5xlo4XciLE33\\njLpdgWjjM7YVwqh94IiK2hXmt30mY3ioVt+r0iNxe4xR2wBSOXnLGRvDGb0hPBOu\\nkbvcV+MZHcEkYjOM70+ZvM6BbIH8SCcuopVOrbFSCQKBgQDh8OOXTYrh1IIlQynj\\n/4JZzuppcX5uffkMVQqX4gZOOp2d2NIme2e0S6ix059G554jPx8bbpXor4hEeKxr\\nSjSe3mk5wqRzYXptqXoo17QPZmvpVi+2RfdnGUFhhZLJbwhEHmqLXJMe7W0e5At9\\nzyIVnzK3DheTRjIPS6pUxn2LpQKBgQDPUT5iQj0IKINSEnjKj1IJAd7Vbxwwraag\\njTOuHTFHByHi5Asdy62gF+HIRUkA9tPNUCmqhocBYAw0VpPGCRAEd3ENHXKQrMax\\nSROcbsT+mm6ymgEK2B/GPtydCjY7PPMHTmrCxsPV1koq147Ain9Ru649IOQdCv98\\ne9lm3YnPPQKBgCDbwo2PhmIfYKoAoYf58cAT2n1pNwTkpyKG/5plEZuw5Jk/Hhjg\\nm41Z73elGiXaq2He3SxFIeIMHRowHosf6JUuLUlsKDRreb2XByAHdrVCpPDzSs8M\\nT9Wbk6mWHmnTDvWxIrePyAmYZ+U1LwKl7AQO+fYrQ3x0mfUlgOkBUOLNAoGAWzZh\\nfhWqiIZakKdz4ZsA+tmJ0tnZy0j7gLPfQwGxBpEKxaqTgX51W3RmcBibsALo2PIm\\nAtLBX0eE1xooVf7yvyRV5vFH0INTv/ho2nCZ13LWtVmwj7ba8/wAUE+H4LRGMLa9\\nngiZbOGlLAg+1FObBLjQRjDMbELEeV58HhfmY/kCgYEAkxcuBL0gLq06JoLtDSC6\\n7Bfp/Fj4IV6OChAYN60SFU8VnDoopV6sA+5CiZbWzu2ob+Agh/i7PQQxSs1s1tR1\\nsauVB8DUXUqAztSfKdymKXWafpUnTmwXzsd849Z75Y0Er/HwLsgB30GDhQ+BVnKJ\\n4Ih5xzWVb6ofozTA8IdHh2E=\\n-----END PRIVATE KEY-----\\n","client_email":"s4s8bso2qk5cvv8e5ts8ajhmsq8b0e@tr-data-workbench.iam.gserviceaccount.com","client_id":"113639508953850221246","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/s4s8bso2qk5cvv8e5ts8ajhmsq8b0e%40tr-data-workbench.iam.gserviceaccount.com"}') # your personal key for Tick History on BigQuery
proj = u'tr-data-workbench'
cred = service_account.Credentials.from_service_account_info(personal_cred)

In [ ]:
# The query to send to BigQuery
query = """
    SELECT 
      RIC, Date_Time, Bid_Price, Bid_Size, Ask_Price, Ask_Size, Price, Volume, Type 
    FROM
      `tr-data-workbench.Futures.L1_Q4_2018`
    WHERE 
        Type in ("Trade", "Quote")
        AND
        Date_Time between '2018-10-01 9:00:00' and '2018-10-5 16:00:00'
        AND
        RIC="CLc1"
    ORDER BY Date_Time
    
"""
df = pandas_gbq.read_gbq(query, project_id=proj, credentials=cred, dialect='standard')

# Update the index to be a DateTimeIndex. Remove and timezone localization, which can effect plotting.
df['t'] = pd.to_datetime(df.Date_Time)
df.set_index('t', drop=True, inplace=True)
df = df.tz_localize(None)

display(df.head())
display(df.tail())

In [ ]:
from pandas.tseries.offsets import BDay

In [ ]:
date_range=pd.date_range(start="2018-10-01", end="2018-12-31", freq=BDay())

In [ ]:
str(date_range[1].date())

In [ ]:
part_query1 = """SELECT 
      RIC, Date_Time, Bid_Price, Bid_Size, Ask_Price, Ask_Size, Price, Volume, Type 
    FROM
      `tr-data-workbench.Futures.L1_Q4_2018`
    WHERE 
        Type in ("Trade", "Quote")
        AND
        Date_Time between
"""

ric_list = ["NGc1", "CLc1"]
for ric in ric_list:
    part_query2 = " AND RIC=" + "'" + ric + "'" + " ORDER BY Date_Time"
    
    for i in range(int( np.ceil(len(date_range)/5))):
        file_name = os.getcwd() + "/TickData" + ric + "_"+ str(date_range[(0+i*5)].date()) + "_" + str(date_range[(5+i*5)].date()) + ".json"
        if os.path.exists(file_name):
            next
        else:
            query =  part_query1 + "'" + str(date_range[(0+i*5)].date()) + " 8:00:00" + "'" + "and" + "'" + str(date_range[(5+i*5)].date()) + " 16:00:00" + "'" + part_query2    
            df = pandas_gbq.read_gbq(query, project_id=proj, credentials=cred, dialect='standard')
            display(df)
            with open(file_name, "+w") as f:
                f.write(df.to_json())
            del df

In [ ]:
from bokeh.plotting import figure
from bokeh.io import output_file, show

p = figure(title="WTI Oil Price at National Day 2018",
            x_axis_label='Date',
            y_axis_label='Price')
p.line(df.index, df.Bid_Price, legend="Price", line_width=2)
output_file("lines.html")
show(p)

In [ ]:
query_list

In [ ]:
with open('trial.json', "+w") as f:
    f.write(jString)

df = pd.read_json('trial.json')

In [ ]:
df.set_index("t").sort_index()

In [ ]:
open("c:/Users/canze/Bokeh-Dashboard/retrieve_data_gas.sql").read()

In [ ]:
""" SELECT
    RIC, Date_Time, Bid_Price, Bid_Size, Ask_Price, Ask_Size, Price, Volume, Type
    FROM
    `tr-data-workbench.Futures.L1_Q4_2018`
    WHERE
    Type in ("Trade", "Quote")
    AND
    Date_Time between '2018-10-01 9:00:00' and '2018-10-1 16:00:00'
    AND
    RIC=""" +  " 'NGc1' " +" ORDER BY Date_Time"

In [ ]:
query

In [ ]:
a = "NGc1"

In [ ]:
"'" + a +"'"

In [ ]:
jString = df.reset_index().to_json()

In [ ]:
jString

In [ ]:
import pandas as pd
import os

In [ ]:
final_df = pd.read_json( os.getcwd() + "/TRHist.json" )

In [ ]:
final_df.

In [ ]:
from datetime import datetime as dt

In [ ]:
sd = dt(2017,10,31)
ed = dt(2018,3,31)

In [ ]:
sub_df = final_df.loc[sd:ed]["NGc1"]

In [ ]:
sub_df.median()

In [ ]:
dff = pd.DataFrame( {"Mean": sub_df.resample("1M").mean()})

In [ ]:
dff

In [ ]:
df = pd.read_json(file_name)

In [44]:
file_name = 'C:\\Users\\canze\\Bokeh-Dashboard/TickDataNGc1_2018-12-24_2018-12-31.json'

In [ ]:
df.sort_index()

In [15]:
from datetime import datetime as dt
target_date = dt(2018,12,31)

In [ ]:
ric

In [9]:
date_range=pd.date_range(start="2018-10-01", end="2018-12-31", freq=BDay())

In [ ]:
for i in range(int( np.ceil(len(date_range)/5))-1):
    if i != int( np.ceil(len(date_range)/5))-2:
        this_date_range=date_range[(0+i*5):(0+(i+1)*5)]
    else:
        this_date_range=date_range[(0+i*5):len(date_range)]
        
    if target_date.date() in this_date_range:
        print(os.getcwd() + "/TickData" + ric + "_"+ str(date_range[(0+i*5)].date()) + "_" + str(date_range[(0+(i+1)*5)].date()) + ".json")

In [ ]:
target_date.date() in this_date_range

In [ ]:
len_list

In [3]:
targe_date = pd.to_datetime("2018-10-01")

In [ ]:
targe_date

In [5]:
import request_data as rd

In [35]:
df = rd.loadTRtickdata("NGc1", targe_date).resample("1s").mean()

In [ ]:
a = pd.to_datetime(targe_date).date()

In [61]:
a = dt(2018, 12, 24)

In [31]:
a

datetime.datetime(2018, 10, 31, 0, 0)

In [37]:
def loadTRtickdata(ticker, target_date, start_date="2018-10-01", end_date="2018-12-31"):
    date_range = pd.date_range(start=start_date, end=end_date, freq=BDay())
    target_date = pd.to_datetime(target_date).date()

    for i in range(int(np.ceil(len(date_range)/5))-1):

        if i != int(np.ceil(len(date_range)/5))-2:
            this_date_range = date_range[(0+i*5):(0+(i+1)*5)]
        else:
            this_date_range=date_range[(0+i*5):len(date_range)]
        

        filename = os.getcwd() + "/TickData" + ticker + "_" + str(date_range[(0+i*5)].date()) + "_" + str(date_range[(0+(i+1)*5)].date()) + ".json"
        if target_date in this_date_range:
            print("yes")
            print(filename)
            try:
                df = pd.read_json(filename)
                df.sort_index(inplace=True)
                df['t'] = pd.to_datetime(df.Date_Time)
                df.set_index('t', drop=True, inplace=True)
                df = df.tz_localize(None)
                print(df)
                df = df.loc[df.index.normalize()==target_date]
            except:
                print("file {0}, doesn't exist".format(filename))

            return df

In [45]:
df = pd.read_json(file_name)

In [47]:
df.sort_index(inplace=True)
df['t'] = pd.to_datetime(df.Date_Time)
df.set_index('t', drop=True, inplace=True)
df = df.tz_localize(None)

In [55]:
a = pd.to_datetime(a).date()

In [56]:
a

datetime.date(2018, 12, 24)

In [63]:
df.loc[ df.index.normalize() ==a]

,RIC,Date_Time,Bid_Price,Bid_Size,Ask_Price,Ask_Size,Price,Volume,Type
t,,,,,,,,,
2018-12-24 08:00:02.099,NGc1,2018-12-24 08:00:02.099,3.780,1.0,3.781,1.0,NaN,NaN,Quote
2018-12-24 08:00:02.099,NGc1,2018-12-24 08:00:02.099,3.780,1.0,3.782,1.0,NaN,NaN,Quote
2018-12-24 08:00:02.099,NGc1,2018-12-24 08:00:02.099,3.780,1.0,3.791,1.0,NaN,NaN,Quote
2018-12-24 08:00:02.099,NGc1,2018-12-24 08:00:02.099,3.780,1.0,3.791,1.0,NaN,NaN,Quote
2018-12-24 08:00:02.099,NGc1,2018-12-24 08:00:02.099,3.780,1.0,3.781,1.0,NaN,NaN,Quote
2018-12-24 08:00:02.099,NGc1,2018-12-24 08:00:02.099,3.780,1.0,3.792,2.0,NaN,NaN,Quote
2018-12-24 08:00:02.099,NGc1,2018-12-24 08:00:02.099,3.780,1.0,3.792,2.0,NaN,NaN,Quote
2018-12-24 08:00:02.102,NGc1,2018-12-24 08:00:02.102,3.780,2.0,3.792,2.0,NaN,NaN,Quote
2018-12-24 08:00:02.103,NGc1,2018-12-24 08:00:02.103,NaN,NaN,NaN,NaN,NaN,1.0,Trade
2018-12-24 08:00:02.103,NGc1,2018-12-24 08:00:02.103,3.780,1.0,3.792,2.0,NaN,NaN,Quote
2018-12-24 08:00:02.198,NGc1,2018-12-24 08:00:02.198,3.780,1.0,3.791,1.0,NaN,NaN,Quote
2018-12-24 08:00:02.199,NGc1,2018-12-24 08:00:02.199,3.780,1.0,3.790,1.0,NaN,NaN,Quote
2018-12-24 08:00:02.199,NGc1,2018-12-24 08:00:02.199,NaN,NaN,NaN,NaN,NaN,3.0,Trade
2018-12-24 08:00:02.287,NGc1,2018-12-24 08:00:02.287,3.781,1.0,3.790,1.0,NaN,NaN,Quote
2018-12-24 08:00:03.598,NGc1,2018-12-24 08:00:03.598,NaN,NaN,NaN,NaN,3.781,1.0,Trade
2018-12-24 08:00:03.599,NGc1,2018-12-24 08:00:03.599,3.780,1.0,3.791,1.0,NaN,NaN,Quote
2018-12-24 08:00:06.871,NGc1,2018-12-24 08:00:06.871,NaN,NaN,NaN,NaN,3.780,1.0,Trade
2018-12-24 08:00:06.875,NGc1,2018-12-24 08:00:06.875,3.776,3.0,3.792,2.0,NaN,NaN,Quote
2018-12-24 08:00:06.971,NGc1,2018-12-24 08:00:06.971,3.776,3.0,3.791,1.0,NaN,NaN,Quote
2018-12-24 08:00:10.838,NGc1,2018-12-24 08:00:10.838,3.776,3.0,3.790,1.0,NaN,NaN,Quote
2018-12-24 08:00:10.839,NGc1,2018-12-24 08:00:10.839,3.776,1.0,3.790,1.0,NaN,NaN,Quote
2018-12-24 08:00:10.999,NGc1,2018-12-24 08:00:10.999,3.777,1.0,3.790,1.0,NaN,NaN,Quote
2018-12-24 08:00:11.619,NGc1,2018-12-24 08:00:11.619,3.777,1.0,3.789,1.0,NaN,NaN,Quote
2018-12-24 08:00:11.619,NGc1,2018-12-24 08:00:11.619,3.777,1.0,3.788,1.0,NaN,NaN,Quote
2018-12-24 08:00:13.495,NGc1,2018-12-24 08:00:13.495,3.778,1.0,3.788,1.0,NaN,NaN,Quote
2018-12-24 08:00:14.827,NGc1,2018-12-24 08:00:14.827,3.773,1.0,3.774,1.0,NaN,NaN,Quote
2018-12-24 08:00:14.827,NGc1,2018-12-24 08:00:14.827,NaN,NaN,NaN,NaN,3.775,9.0,Trade
2018-12-24 08:00:14.827,NGc1,2018-12-24 08:00:14.827,NaN,NaN,NaN,NaN,3.774,7.0,Trade
2018-12-24 08:00:14.827,NGc1,2018-12-24 08:00:14.827,NaN,NaN,NaN,NaN,3.778,1.0,Trade
2018-12-24 08:00:14.827,NGc1,2018-12-24 08:00:14.827,NaN,NaN,NaN,NaN,3.777,1.0,Trade
...,...,...,...,...,...,...,...,...,...
2018-12-24 18:44:57.896,NGc1,2018-12-24 18:44:57.896,3.458,1.0,3.459,1.0,NaN,NaN,Quote
2018-12-24 18:44:57.904,NGc1,2018-12-24 18:44:57.904,NaN,NaN,NaN,NaN,NaN,1.0,Trade
2018-12-24 18:44:57.904,NGc1,2018-12-24 18:44:57.904,NaN,NaN,NaN,NaN,3.459,1.0,Trade
2018-12-24 18:44:57.907,NGc1,2018-12-24 18:44:57.907,NaN,NaN,NaN,NaN,3.459,1.0,Trade
2018-12-24 18:44:57.908,NGc1,2018-12-24 18:44:57.908,NaN,NaN,NaN,NaN,NaN,1.0,Trade
2018-12-24 18:44:57.915,NGc1,2018-12-24 18:44:57.915,NaN,NaN,NaN,NaN,3.459,1.0,Trade
2018-12-24 18:44:57.916,NGc1,2018-12-24 18:44:57.916,NaN,NaN,NaN,NaN,NaN,1.0,Trade
2018-12-24 18:44:57.919,NGc1,2018-12-24 18:44:57.919,NaN,NaN,NaN,NaN,3.459,1.0,Trade
2018-12-24 18:44:57.920,NGc1,2018-12-24 18:44:57.920,NaN,NaN,NaN,NaN,NaN,1.0,Trade
2018-12-24 18:44:57.947,NGc1,2018-12-24 18:44:57.947,NaN,NaN,NaN,NaN,3.459,1.0,Trade
2018-12-24 18:44:57.948,NGc1,2018-12-24 18:44:57.948,NaN,NaN,NaN,NaN,NaN,1.0,Trade
2018-12-24 18:44:57.951,NGc1,2018-12-24 18:44:57.951,NaN,NaN,NaN,NaN,3.459,1.0,Trade
2018-12-24 18:44:57.952,NGc1,2018-12-24 18:44:57.952,3.458,1.0,3.459,3.0,NaN,NaN,Quote
2018-12-24 18:44:58.008,NGc1,2018-12-24 18:44:58.008,NaN,NaN,NaN,NaN,NaN,1.0,Trade
2018-12-24 18:44:58.008,NGc1,2018-12-24 18:44:58.008,NaN,NaN,NaN,NaN,3.459,1.0,Trade
2018-12-24 18:44:58.135,NGc1,2018-12-24 18:44:58.135,NaN,NaN,NaN,NaN,3.459,1.0,Trade
2018-12-24 18:44:58.136,NGc1,2018-12-24 18:44:58.136,NaN,NaN,NaN,NaN,NaN,1.0,Trade
2018-12-24 18:44:58.136,NGc1,2018-12-24 18:44:58.136,3.458,1.0,3.459,2.0,NaN,NaN,Quote
2018-12-24 18:44:58.476,NGc1,2018-12-24 18:44:58.476,3.456,2.0,3.459,2.0,NaN,NaN,Quote
2018-12-24 18:44:58.476,NGc1,2018-12-24 18:44:58.476,NaN,NaN,NaN,NaN,3.458,1.0,Trade
2018-12-24 18:44:58.527,NGc1,2018-12-24 18:44:58.527,NaN,NaN,NaN,NaN,3.459,6.0,Trade
2018-12-24 18:44:58.528,NGc1,2018-12-24 18:44:58.528,NaN,NaN,NaN,NaN,3.459,2.0,Trade
2018-12-24 18:44:58.528,NGc1,2018-12-24 18:44:58.528,NaN,NaN,NaN,NaN,NaN,5.0,Trade
2018-12-24 18:44:58.528,NGc1,2018-12-24 18:44:58.528,3.456,2.0,3.459,1.0,NaN,NaN,Quote
2018-12-24 18:44:58.636,NGc1,2018-12-24 18:44:58.636,NaN,NaN,NaN,NaN,3.459,1.0,Trade
2018-12-24 18:44:59.139,NGc1,2018-12-24 18:44:59.139,3.456,2.0,3.459,2.0,NaN,NaN,Quote
2018-12-24 18:44:59.587,NGc1,2018-12-24 18:44:59.587,3.456,2.0,3.459,3.0,NaN,NaN,Quote
2018-12-24 18:44:59.931,NGc1,2018-12-24 18:44:59.931,NaN,NaN,NaN,NaN,3.459,3.0,Trade
2018-12-24 18:44:59.932,NGc1,2018-12-24 18:44:59.932,3.456,2.0,3.459,1.0,NaN,NaN,Quote
2018-12-24 18:45:00.475,NGc1,2018-12-24 18:45:00.475,3.420,4.0,3.459,1.0,NaN,NaN,Quote

In [36]:
df

Empty DataFrame
Columns: [RIC, Date_Time, Bid_Price, Bid_Size, Ask_Price, Ask_Size, Price, Volume, Type]
Index: []